# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
django_env/
Lib/
Scripts/
pyvenv.cfg
CACHEDIR.TAG

# IDEs/editors
.vscode/
.idea/
.DS_Store
Thumbs.db

# Databases
*.sqlite3

